*{
    margin:0;
    padding: 0;
    font-family: "Opens Sans, sans-serif";
}

.bloco{
    display: block;
    padding-top: 10px;
    padding-left: 25px;
    color: white;
    height: 10vw;
    width: 80vh;
    margin:10px;
}
#bloco-1{
    background-color: rgb(255, 157, 0);
    border: solid 4px rgb(255, 187, 0);
}
#bloco-2{
    background-color: rgba(8, 156, 60, 0.838);
    border: solid 4px rgb(126, 182, 132);
}
#bloco-3{
    background-color: rgb(6, 72, 26);
    border: dashed 4px rgb(83, 155, 99);
}
#bloco-4{
    background-color: rgb(207, 64, 45);
    border: dashed 4px rgb(202, 156, 156);
}
main{
    font-family: Helvetica;
}
